{% extends  'index.html'%}


{% block content %}  

<div class="container">

    <di class=" container">
    <H1 style="text-align: center;">Add User</H1>    
    <form style=" width: 100vw; margin-top:3vw; margin-left : 2vw;" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="form-group col-md-3"> 
                    Name{{form.name}}    
                </div>
                <div class="form-group col-md-3">   
                    Job{{form.job}}
                </div>      
                <div class="form-group col-md-3">   
                    Birthdate{{form.birthdate}}
                </div>   
            </div>
            <div class="row">
                <div class="form-group col-md-3"> 
                    Notes{{form.notes}}    
                </div>     
            </div>
            <div class="row">
                <div class="form-group col-md-3">   
                    Job Number{{form.jobnumber}}
                </div>  
            </div>
            <div class="row">
                <div class="form-group col-md-3"> 
                    Image{{form.image}}    
                </div>
                <div class="form-group col-md-3">   
                    Contract{{form.contract}}
                </div>       
            </div>
      
        <div style="margin-left: 32%;margin-top:20px;margin-bottom:20px;">
            <button  class="btn btn-outline-dark" type="submit">Upload</button>
        </div>
    </div>  
</form>

<div class="container">

    
    {% if img_obj %}
    <h3 style="text-align: center;">Successfully Upload</h3>
    <div style=" width: 100vw; margin-top:3vw; margin-left : 2vw;">
        
        <div class="row">
            <div class="form-group col-md-12"> 
            <img src="{{ img_obj.image.url }}" alt="connect" style="height:200px; width:150px;">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">  
                
                <p><strong>Name</strong>{{img_obj.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">   
            <p><strong>Job</strong>{{img_obj.job}}</p>
            </div>
            <div class="form-group col-md-6">  
                <p><strong>Job Number</strong>{{img_obj.jobnumber}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <strong>Contract</strong>   
            <img src="{{ img_obj.contract.url }}" alt="connect" style="height:300px; width:200px;">
            </div>
        </div>
    </div>
        

        {% endif %}
        </div>
    </div>
</div>


{% endblock %}