{% extends  'index.html'%}


{% block content %}  

<div class="container">
    <h1>User Record Record</h1>
  
    {%for user in users%}
    <img src="{{user.image.url}}"/>   
    <img src="{{user.contract.url}}"/>  
    {%endfor%}

    <table class="table table-dark table-striped">
        <tr>

            <th style="color:white">Name</th>
            <th style="color:white">Job</th>
            <th style="color:white">Job Number</th>
            
        </tr>
        {%for user in users%} 
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.job}}</td>
            <td>{{user.jobnumber}}</td>   
        </tr>
        {%endfor%}
      </table>

     
      <a href="{% url 'adddocument'  user.jobnumber %}">Add Document </a>
      



{% endblock %}