{% extends  'index.html'%}


{% block content %}  

<div class="container">
    <h1>User Record </h1>
    <div style=" width: 100vw; margin-top:3vw; margin-left : 2vw;">
        
        <div class="row">
            <div class="form-group col-md-12"> 
            <img src="{{ user.image.url }}" alt="connect" style="height:200px; width:150px;">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">  
                
                <p><strong>Name</strong>{{user.name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">   
            <p><strong>Job</strong>{{user.job}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">  
                <p><strong>Job Number</strong>{{user.jobnumber}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <strong>Contract</strong>   
            <img src="{{ user.contract.url }}" alt="connect" style="height:300px; width:200px;">
            </div>
        </div>
    
    
        
    <div class="row">
        <div class="form-group col-md-12">
            {%for document in documents%}
            <strong>{{document.title}} </strong>   
            <img  style="height:300px; width:200px;" src="/media/{{ BASIC_DIR }}/{{document.image}}"/>  
            {%endfor%}
      
        </div>
    </div>

        
   


     
      <a href="{% url 'adddocument'  user.jobnumber %}">Add Document </a>
      <a href="{% url 'createreport'  user.jobnumber %}">Create PDF report </a>
      
    </div>
    </div>
    


{% endblock %}