{% extends 'index.html' %}

<!Doctype html>
<html>
    <head></head>
    <body>
        {%block content%}
        <h1 style="text-align: center;">Home</h1>
        <div style="margin-left: 34%;margin-top:20px;margin-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <button  class="btn btn-outline-dark" onclick="location.href='search_user';">Search User</button>
                    </div>
                    <div class="col-md-3">
                        <button  class="btn btn-outline-dark" onclick="location.href='add_user';" >Add User</button>
                    </div>
                </div>
            </div>

        </div>
        {% endblock %}
    </body>
</html>